<div class="welcome-messeage">
 <h1>ようこそ</h1>
</div>

<%= form_for @user do |f| %>
  <div class="form-input">
    <h3>プロフィール</h3>
     <% if @user.image_name? %>
      <%= image_tag @user.image_name.thumb50.url %>
     <% else %>
        <%= image_tag "/user_images/default_user.jpeg", :size => '100x100' %>
     <% end %>
    <table>
        <tr>
            <th><%= f.label :name ,"ユーザー名" %></th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th><%= f.label :email ,"メールアドレス" %></th>
            <td><%= @user.email %></td>
        </tr>
        <tr>
            <th><%= f.label :introduction ,"自己紹介" %></th>
            <td><%= @user.introduction %></td>
        </tr>

    </table>
    <div>
        <ul>
            <li><%= link_to "アカウント編集", :edit_user %></li>
        </ul>
    </div>
  </div>
<% end %>
<div class="logout-botton">
 <%= link_to "ログアウト", logout_path, method: :delete %>
</div>
