
<%= form_for @post do |f| %>
<div class="form-input">
<h2>ルーム編集</h2>
<table>
  <tr>
    <th><%= f.label :name, "ルーム名" %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :introduction, "ルーム紹介" %></th>
    <td><%= f.text_area :introduction, class:"posts-content" %></td>
  </tr>
  <tr>
    <th><%= f.label :fee, "料金" %></th>
    <td><%= f.text_field :fee %></td>
  </tr>
  <tr>
    <th><%= f.label :address, "住所" %></th>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <th><%= f.label :image, "ルーム画像" %></th>
    <td><%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %></td>
  </tr>
</table>
<%= f.hidden_field :user_id, value: current_user.id %>
<div>
  <ul>
    <li><%= f.submit "ルーム情報を編集する"%></li>
  </ul>
</div>
</div>
<% end %>
