
<div class="form-input">
<h3>検索結果:<%= @posts.count %>件</h3>
<table>
    <thead>
        <tr>
            <th>ルームid</th>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>料金</th>
            <th>住所</th>
            <th>作成日</th>
            <th>登録者(ユーザーid)</th>
            <th>予約</th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td><%= post.id %></td>
                <% if post.image? %>
                <td><%= image_tag post.image.thumb.url %></td>
                <% end %>
                <td><%= post.name %></td>
                <td><%= post.introduction %></td>
                <td>¥<%= post.fee %></td>
                <td><%= post.address %></td>
                <td><%= post.created_at.to_s(:datetime_jp) %></td>
                <td><%= post.user_id %></td>
                <td>
                    <%= link_to "予約する", new_reservation_path(post.id) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
