<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrap">
  <div class="container">
   <header>
    <h2><a href="/users">Potepan Journey</a></h2>
      <div class = header-left-item>
      <%= form_with( url: search_path, class: 'search_form', method: :get, local:true) do |f| %>
        <%= f.text_field :keyword,  placeholder: "住所・キーワードを入力", class: "topleft-input"%>
        <%= f.submit '検索'%>
      <% end %>
      </div>
      <div class="current_user-item">
        <% if session[:user_id] %>
          <li>
            ユーザーID: <%= session[:user_id] %> <%= current_user.name %>さん
          </li>
      </div>
          <div class="hamburger-menu">
      　　　　<input type="checkbox" id="menu-btn-check">
      　　　　<label for="menu-btn-check" class="menu-btn"><span></span></label>
           <div class="menu-content">
            <ul>
              <li>
                <%= link_to "マイページ", user_path(current_user.id),class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "ルーム登録", "/posts/new/",class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "登録済みルーム一覧", posts_path,class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "マイルーム一覧", post_path(current_user.id),class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "予約済みルーム一覧", reservations_path,class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "あなたが予約したルーム", reservation_path(current_user.id),class:'current_user_item' %>
              </li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete, class:'logout_item' %>
              </li>
            </ul>
           </div>
         <% else %>
          <div class= "new-user_form">
            <a class="btn btn-primary my-2 mx-3" href="/sessions/new">ログイン</a>
            <a class="btn btn-secondary" href="/users/new">新規登録</a>
          </div>
         <% end %>
      </div>
   </header>
   <div class="content">
   <%= alert %>
    <%= yield %>
    </div>
    <div class="push"></div>
  </div>
   <footer>
     <p>© 2020 POTEPAN.INC.</p>
   </footer>
  <!-- /.wrap --></div>
  </body>
</html>
