<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <h2><a href="/users">Potepan Journey</a></h2>
      <div class="nav-item">
        <% if session[:user_id] %>
          <li>
           現在ログインしているユーザーのid: <%= session[:user_id] %>
          </li>
            <%= link_to "マイページ","/users/#{current_user.id}" %>
            <%= link_to "ルーム登録", "/posts/new/" %>
            <%= link_to "登録済みルーム一覧", "/posts/" %>
         <% else %>
            <a class="btn btn-primary my-2 mx-3" href="/sessions/new">ログイン</a>
            <a class="btn btn-secondary" href="/users/new">新規登録</a>
         <% end %>
      </div>
   </header>
   <%= alert %>
    <div class="container">
    <%= yield %>
    </div>
   <footer>
     <p>© 2020 POTEPAN.INC.</p>
   </footer>

  </body>
</html>
